body {
    background: linear-gradient(45deg, 
                    rgba(255,0,0,0.5) 0%, 
                    rgba(255,255,0,0.5) 10%, 
                    rgba(0,255,0,0.5) 20%, 
                    rgba(0,255,255,0.5) 30%, 
                    rgba(0,0,255,0.5) 40%, 
                    rgba(255,0,255,0.5) 50%, 
                    rgba(255,0,0,0.5) 60%, 
                    rgba(255,255,0,0.5) 70%, 
                    rgba(0,255,0,0.5) 80%, 
                    rgba(0,255,255,0.5) 90%, 
                    rgba(0,0,255,0.5) 100%);
    background-size: 800%; /* Increase the background size for smoother animation */
    animation: changeBackground 10s infinite; /* Use animation to move the gradient */
}

@keyframes changeBackground {
    0% {
        background-position: 0% 0%; /* Start the gradient from the top-left corner */
    }
    100% {
        background-position: 100% 100%; /* End the gradient on the bottom-right corner */
    }
}
